body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.container {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
        inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
}

.container>.ans {
    margin-top:15px; 
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container>.values {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.box {
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.box>.btn {
    height: 60px;
    width: 60px;
    background: linear-gradient(90deg, #2d2d2d, #4d4d4d);

    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
        inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#equal {
    width: 140px;
    background: #2196f3;
}

.box>.btn>button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 10px;
}


.ans>.inp {
    height: 90%;
    width: 80%;
    font-size: xx-large;
    text-align: right;
    background-color: #a7af7c;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
    border-radius:20px;
    outline: none;
    
}

.values>.box>.clear{
    background: #f00;
}
